{% extends "base.html" %}

{% block content %}
    <h3>Edit User</h3>
    <form id="edit-user" class="well"
          action="{{ url_for('edit_user', user_id=user.key.id()) }}" method="post" accept-charset="utf-8">
        <fieldset>
            {{ form.hidden_tag() }}
            <input type="hidden" name="mode" value="edit" />
            <div class="control-group">
                <div class="control-label">{{ form.user_first_name.label }}</div>
                <div class="controls">
                    {{ form.user_first_name|safe }}
                    {% if form.user_first_name.errors %}
                        <ul class="errors">
                            {% for error in form.user_first_name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="control-group">
                <div class="control-label">{{ form.user_last_name.label }}</div>
                <div class="controls">
                    {{ form.user_last_name|safe }}
                    {% if form.user_last_name.errors %}
                        <ul class="errors">
                            {% for error in form.user_last_name.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="control-group">
                <div class="control-label">{{ form.user_email.label }}</div>
                <div class="controls">
                    {{ form.user_email|safe }}
                    {% if form.user_email.errors %}
                        <ul class="errors">
                            {% for error in form.user_email.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="control-group">
                <div class="control-label">{{ form.user_phone.label }}</div>
                <div class="controls">
                    {{ form.user_phone|safe }}
                    {% if form.user_phone.errors %}
                        <ul class="errors">
                            {% for error in form.user_phone.errors %}
                                <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                    {% endif %}
                </div>
            </div>
            <div>&nbsp;</div>
            <div class="control-group">
                    <div class="control-label">{{ form.user_household.label }}</div>
                    <div class="controls">
                        {{ form.user_household|safe }}
                        {% if form.user_household.errors %}
                        <ul class="errors">
                            {% for error in form.user_household.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.user_house_manager.label }}</div>
                    <div class="controls">
                        {{ form.user_house_manager|safe }}
                        {% if form.user_house_manager.errors %}
                        <ul class="errors">
                            {% for error in form.user_house_manager.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.user_is_adult.label }}</div>
                    <div class="controls">
                        {{ form.user_is_adult|safe }}
                        {% if form.user_is_adult.errors %}
                        <ul class="errors">
                            {% for error in form.user_is_adult.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.user_is_managed.label }}</div>
                    <div class="controls">
                        {{ form.user_is_managed|safe }}
                        {% if form.user_is_managed.errors %}
                        <ul class="errors">
                            {% for error in form.user_is_managed.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
            <div class="control-group">
                <div class="controls">
                    <input class="btn btn-primary" type="submit" value="Save Changes"/>
                    <a class="btn cancel" href="{{ url_for('list_users') }}">Cancel</a>
                </div>
            </div>
        </fieldset>
    </form>
{% endblock content %}
