<div class="modal fade" id="new-gift-modal">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Add a New Gift</h3>
    </div>
    <div class="modal-body">
        <form id="new-gift-form" class="well"
            action="{{ url_for('gift_list', user_id=auth.get('id')) }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label">{{ form.summary.label }}</div>
                    <div class="controls">
                        {{ form.summary|safe }}
                        {% if form.summary.errors %}
                        <ul class="errors">
                            {% for error in form.summary.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.description.label }}</div>
                    <div class="controls">
                        {{ form.description|safe }}
                        {% if form.description.errors %}
                        <ul class="errors">
                            {% for error in form.description.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                {% if auth['id'] != owner_id %}
                <div class="control-group">
                    <div class="control-label">{{ form.notes.label }}</div>
                    <div class="controls">
                        {{ form.notes|safe }}
                        {% if form.notes.errors %}
                        <ul class="errors">
                            {% for error in form.notes.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                {% endif %}
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Add Gift"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    </div>
    </div>
</div>

