<div class="modal fade" id="new-user-modal">
    <div class="modal-dialog">
    <div class="modal-content">
    <div class="modal-header">
        <button class="close" data-dismiss="modal">&times;</button>
        <h3>Add a New User</h3>
    </div>
    <div class="modal-body">
        <form id="new-user-form" class="well"
            action="{{ url_for('list_users') }}" method="post" accept-charset="utf-8">
            <fieldset>
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label">{{ form.user_first_name.label }}</div>
                    <div class="controls">
                        {{ form.user_first_name|safe }}
                        {% if form.user_first_name.errors %}
                        <ul class="errors">
                            {% for error in form.user_first_name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.user_last_name.label }}</div>
                    <div class="controls">
                        {{ form.user_last_name|safe }}
                        {% if form.user_last_name.errors %}
                        <ul class="errors">
                            {% for error in form.user_last_name.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.user_email.label }}</div>
                    <div class="controls">
                        {{ form.user_email|safe }}
                        {% if form.user_email.errors %}
                        <ul class="errors">
                            {% for error in form.user_email.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.user_phone.label }}</div>
                    <div class="controls">
                        {{ form.user_phone|safe }}
                        {% if form.user_phone.errors %}
                        <ul class="errors">
                            {% for error in form.user_phone.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.user_household.label }}</div>
                    <div class="controls">
                        {{ form.user_household|safe }}
                        {% if form.user_household.errors %}
                        <ul class="errors">
                            {% for error in form.user_household.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.user_house_manager.label }}</div>
                    <div class="controls">
                        {{ form.user_house_manager|safe }}
                        {% if form.user_house_manager.errors %}
                        <ul class="errors">
                            {% for error in form.user_house_manager.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="control-label">{{ form.user_is_adult.label }}</div>
                    <div class="controls">
                        {{ form.user_is_adult|safe }}
                        {% if form.user_is_adult.errors %}
                        <ul class="errors">
                            {% for error in form.user_is_adult.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
                <div>&nbsp;</div>
                <div class="control-group">
                    <div class="controls">
                        <input class="btn btn-primary" type="submit" value="Add User"/>
                        <button class="btn" data-dismiss="modal">Cancel</button>
                    </div>
                </div>
            </fieldset>
        </form>
    </div>
    </div>
    </div>
</div>

