{% extends "base.html" %}

{% block content %}

    <h1 id="">Login Required</h1>
    <p>
        <form method="post" action="{{ url_for('validate', user_token='post') }}">
             <fieldset>
                {{ form.hidden_tag() }}
                <div class="control-group">
                    <div class="control-label">{{ form.user_phone.label }}</div>
                    <div class="controls">
                        {{ form.user_phone|safe }}
                        {% if form.user_phone.errors %}
                        <ul class="errors">
                            {% for error in form.user_phone.errors %}
                            <li>{{ error }}</li>
                            {% endfor %}
                        </ul>
                        {% endif %}
                    </div>
                </div>
            <button class="btn">Login</button>
        </form>
    </p>

    <p>
        <a class="btn btn-primary" data-toggle="modal" data-target="#request-token-modal">
            <i class="icon-plus-sign icon-white"></i>
            Request New Token
        </a>
    </p>

{% endblock content %}

{% block footer %}
    {% include 'request_token.html' %} {# pull in request_token form (modal dialog) #}
{% endblock footer %}