{% extends "base.html" %}

{% block style_block %}
    <style type="text/css">
        table.table { width: 60%; }
    </style>
{% endblock %}

{% block content %}

    <h1 id="">Login Required</h1>
    <table class="table table-bordered table-striped">
        <tbody>
            <tr>
                 <form method="post" action="{{ url_for('validate', user_token='validate') }}">
                     <td>
                         <fieldset>
                            {{ form.hidden_tag() }}
                            <div class="control-group">
                                <div class="control-label">{{ form.user_token.label }}</div>
                                <div class="controls">
                                    {{ form.user_token|safe }}
                                    {% if form.user_token.errors %}
                                    <ul class="errors">
                                        {% for error in form.user_token.errors %}
                                        <li>{{ error }}</li>
                                        {% endfor %}
                                    </ul>
                                    {% endif %}
                                </div>
                            </div>
                        </fieldset>
                    </td>
                    <td>
                        <button class="btn">Login</button>
                    </td>
                </form>
                <td>
                    <a class="btn btn-primary" data-toggle="modal" data-target="#request-token-modal">
                        <i class="icon-plus-sign icon-white"></i>
                        Request New Token
                    </a>
                </td>
            </tr>
        </tbody>
    </table>

{% endblock content %}

{% block footer %}
    {% include 'request_token.html' %} {# pull in request_token form (modal dialog) #}
{% endblock footer %}